.contact-section {
  padding: 20px;
  height: 100%;
  margin-bottom: 25%;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.contact-form h2 {
  font-size: 25px;
  font-weight: 400;
}

.map-container,
.form-container {
  width: 50%;
  padding: 20px;
}

.map-container iframe {
  width: 100%;
  height: 300px;
}

.form-container {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  letter-spacing: 1px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: #fff;
  padding: 13px 143px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 3px;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 767px) {
  .contact-section {
      margin-bottom: 25%;
  }

  .contact-container {
      flex-direction: column;
      margin-top: 20px;
  }

  .map-container,
  .form-container {
      width: 100%;
      max-width: none;
  }

  .form-container {
      padding: 10px;
      margin-top: 16%;
  }

  .contact-form h2 {
      font-size: 18px; /* Reducir el tamaño del título del formulario */
      margin-bottom: 65px; /* Ajustar espacio inferior */
  }

  .map-container iframe {
      width: 100%;
      height: 150px;
      margin-top: 12%;
  }

  button {
      background-color: black;
      color: #fff;
      padding: 20px 105px; /* Ajustado para desktop */
      border: none;
      cursor: pointer;
      font-size: 10px;
      letter-spacing: 2px;
  }

  .main-footer {
      margin-top: -19%;
  }
}
