/* Footer.css */
.footer {
  height: auto;
  width: 100%;
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
}

.footer .contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Asegura que las columnas se alineen correctamente */
}

.footer .col {
  width: 250px;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 53px 5px 0px;
  color: white; /* Títulos en blanco */
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: white; /* Enlaces en blanco */
  font-size: 14px;
  font-family: inherit;
  padding: 5px 0px 5px 35px;
  cursor: pointer;
  transition: 0.2s;
}

.footer .col ul li:hover {
  color: #ffffff; /* Mantén el color blanco al pasar el ratón */
}

.social {
  display: flex; /* Usa flexbox para que los iconos se alineen horizontalmente */
  align-items: center; /* Centra verticalmente los iconos */
}

.social a {
  color: white; /* Iconos en blanco */
  padding: 7px;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.footer-left {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  align-items: center;
  height: 110px;
  color: white; /* Texto en blanco */
  margin-bottom: -21px;
  padding-right: 5%; /* Ajusta el espacio desde el borde derecho de la pantalla */
}

.footer-left span {
  margin-right: 20px;
  color: white; /* Texto en blanco */
}

.btn-style4, .btn-style5 {
  font-size: 11px;
  text-align: center;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 14px;
  height: 47px;
  transition: all 0.5s;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.btn-style4, .btn-style5 {
  width: 150px; /* Ancho uniforme para ambos botones */
}

.btn-style4 {
  background-color: black; /* Fondo negro */
  border: solid 2px white; /* Borde blanco */
  color: white; /* Texto blanco */
}

.btn-style4:hover {
  background-color: white; /* Fondo blanco al pasar el ratón */
  color: black; /* Texto negro al pasar el ratón */
}

.btn-style5 {
  background-color: white; /* Fondo blanco */
  border: solid 2px white; /* Borde blanco */
  color: black; /* Texto negro */
}

.btn-style5:hover {
  background-color: black; /* Fondo negro al pasar el ratón */
  color: white; /* Texto blanco al pasar el ratón */
}

.final {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.final span {
  color: white; /* Texto en blanco */
  padding: 0 97px;
  font-size: 12px;
}

.clearfix {
  clear: both;
}
